.navbar,
.anchor-container {
  display: flex;
  flex-direction: column;
}

.navbar {
  box-shadow: 0 0 2px 1px rgb(0, 0, 0, 0.3);
  margin: 0.5rem 0 0.5rem 0.5rem;
  width: 244px;
  border-radius: 8px;
}

.anchor-container {
  width: 100%;
  gap: 0.7rem;
}

.anchor-btn {
  width: 100% !important;
  cursor: pointer;
  justify-content: flex-start !important;
  color: var(--text-gray) !important;
  text-transform: none !important;
  font-size: 1rem !important;
  gap: 0.5rem !important;
  border-radius: 1.375rem !important;
  padding: 0.75rem !important;
}
