.sis-logo-container{
    display: block;
    height: 60px;
}

.sis-logo{
    height: 100%;
}

.load-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.css-hn9gyk-MuiPaper-root-MuiCard-root{
    position: relative;
}